.features{
    width: 100%;

    &__inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 37.2px 90px;
        border-radius: 10px;
        box-shadow: 0px 18px 114px 7px rgba(#0D1025, 0.06);
    }
    &__item{
        display: flex;
        img{
            margin-right: 36.5px;
        }
        &:nth-child(2){
            padding: 0 120px;
            border-left: 2px solid #EEEFF2;
            border-right: 2px solid #EEEFF2;
        }
    }
    &__text{
        display: flex;
        flex-direction: column;
    }
    &__count{
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        color: #0B132A;
    }
    &__name{
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #4F5665;
    }
}