.footer{
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    &__inner{
        padding: 180px 0 100px;
        display: flex;
        flex-direction: row;
    }
    &__item{
        width: 50%;
        &:last-child{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & .footer__pages{
                display: flex;
                flex-direction: column;
            }
        }
    }
    &__title{
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: $titleColor;
    }
    &__link{
        @include TransitionMix(150ms);
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: $subColor;
        text-decoration: none;
        margin-bottom: 10px;
        &:hover{
            opacity: .8;
        }
    }
    &__logo{
        margin-bottom: 20px;
    }
    &__text{
        margin-bottom: 30px;
        max-width: 340px;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: $subColor;
        span{
            font-weight: 500;
        }
    }
    &__copyright{
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #AFB5C0;
    }
}