.intro{
    padding: 50px 0 105px 0;
    font-family: 'Rubik', sans-serif;
    &__inner{
        display: flex;
        flex-direction: row;
    }
    &__item{
        width: 50%;
        align-self: center;
        &:nth-child(2){
            min-height: 356px;
            background: url('../img/intro_bg.svg') 0 0/cover no-repeat;
        }
    }
    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 70px;
        color: #0B132A;
        margin-bottom: 20px;
        span{
            font-weight: bold;
        }
    }
    &__subtitle{
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #4F5665;
        margin-bottom: 50px;
        span{
            font-weight: bold;
        }
    }
    &__btn{
        padding: 17.5px 78px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        background-color: $btnColor;
        border: 1px solid $btnColor;
        border-radius: 10px;
        box-shadow: 0px 18px 54px 7px rgba(245, 56, 56, 0.35);
        @include TransitionMix(50ms);
        &:hover{
            box-shadow: 0px 18px 54px 7px rgba(243, 9, 9, 0.418);
        }
    }
}