.intro{
    padding: 50px 0 105px 0;
    font-family: 'Rubik', sans-serif;
    &__inner{
        display: flex;
        flex-direction: row;
    }
    &__item{
        width: 50%;
        align-self: center;
        &:nth-child(2){
            min-height: 356px;
            background: url('../img/intro_bg.svg') 0 0/cover no-repeat;
        }
    }
    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 70px;
        color: $titleColor;
        margin-bottom: 20px;
        span{
            font-weight: bold;
        }
    }
    &__subtitle{
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: $subColor;
        margin-bottom: 50px;
        span{
            font-weight: bold;
        }
    }
}