.provide{
    width: 100%;
    &__inner{
        padding: 95px 0 130px 0;
        display: flex;
        flex-direction: row;
    }
    &__item{
        width: 50%;
        align-self: center;
        &:last-child{
            padding-left: 170px;
        }
    }
    &__title{
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: $titleColor;
        margin-bottom: 20px;
    }
    &__subtitle{
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: $subColor;
        margin-bottom: 20px;
    }
    &__checkpoint{
        display: flex;
        margin-bottom: 15px;
        img{
            height: 30px;
        }
    }
    &__text{
        font-weight: normal;
        font-size: 14px;
        line-height: 30px;
        color: $subColor;
        margin-left: 10px;
    }
}