.slider{
    position: relative;
    display: flex;
    min-width: 0;
    &__section{
        width: 100%;
        margin-bottom: 306px;
        &_title{
            font-weight: 500;
            font-size: 35px;
            line-height: 50px;
            text-align: center;
            color: $titleColor;
            max-width: 447px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        &_subtitle{
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            color: $subColor;
            max-width: 555px;
            margin: 0 auto;
            margin-bottom: 60px;
        }
    }
    &__block{
        display: flex;
        min-width: 0px;
        margin-right: 0;
        max-width: 1140px;
        margin: 0 auto;
    }
    &__item{
        min-width: 0;
        width: 400px;
        max-height: 230px;
        background-color: white;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        &:focus{
            outline: none;
        }
    }
    &__info{
        display: flex;
        flex-direction: row;
        img:last-child{
            width: 13px;
            height: 13px;
        }
    }
    &__rating{
        width: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__rate{
        margin-right: 11px;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: $titleColor;
    }
    &__about{
        width: 70%;
        img{
            margin-right: 20px;
        }
    }
    &__name{
        margin-top: 8px;
        font-weight: 500;
        font-size: 18px;
        color: $titleColor;
    }
    &__location{
        font-weight: normal;
        font-size: 14px;
        color: $subColor;
    }
    &__text{
        margin-top: 20px;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: $titleColor;
    }
}