.sub{
    position: absolute;
    width: 1140px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 105px 114px 5px #0d10250f;
    left: 20%;
    top: -25%;
    &__inner{
        padding: 59px 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        max-width: 371px;
        font-weight: 500;
        font-size: 35px;
        line-height: 45px;
        color: $titleColor;
        margin-bottom: 20px;
    }
    &__subtitle{
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: $subColor;
    }
    &__btn{
        padding: 17.5px 65px;
    }
}